<div class="center-container">
    <form class="login">
        <div class="login__content">
            {{{ pageTitle }}}
            {{{ loginInputField }}}
            {{{ passwordInputField }}}
        </div>
        <div class="login__footer">
            {{{ loginButton }}}
            {{{ registerLink }}}
        </div>
    </form>
</div>
