<div class="button__container">
    <button class="button{{#if className}} {{className}} {{/if}}" {{#if page}}page={{page}}{{/if}} {{#if type}}type={{type}}{{/if}}>
        {{text}}
        {{#if icon}}<img class="button__icon" src={{icon}} alt={{icon}}>{{/if}}
    </button>
    {{{menu}}}
</div>
