<form class="profile-form">
    <div class="profile-form__content">
        {{{avatar}}}
        {{#if userName}}<h2 class="profile-form__name">{{{userName}}}</h2> {{/if}}
        <div class="profile-form__list">
            {{{inputFields}}}
        </div>
        <div class="profile-form__panel-control">
            {{#if editProfileLink}} {{{editProfileLink}}} {{/if}}
            {{#if editPasswordLink}} {{{editPasswordLink}}} {{/if}}
            {{#if logoutLink}} {{{logoutLink}}} {{/if}}
            {{#if saveProfileButton}} {{{saveProfileButton}}} {{/if}}
        </div>
    </div>
</form>