<div class="chat-list-item">
    <div class="chat-list-item__container">
        {{{avatar}}}
        <div class="chat-list-item__content">
            <div class="chat-list-item__content-column">
                <h3 class="chat-list-item__name">{{{name}}}</h3>
                <h4 class="chat-list-item__last-message">
                    {{{ text }}}
                </h4>
            </div>
            <div class="chat-list-item__content-column">
                <h6 class="chat-list-item__time">
                    {{{ time }}}
                </h6>
                {{#if countUnreadMessages}}
                    <h5 class="chat-list-item__unread-message">
                        {{{ countUnreadMessages }}}
                    </h5>
                {{/if}}
            </div>
        </div>
    </div>
</div>
