<div id="{{id}}" class="chats-list-item">
  <div class="chats-list-item__container">
    {{{avatar}}}
    <div class="chats-list-item__content">
      <div class="chats-list-item__content-column">
        <h3 class="chats-list-item__name">{{title}}</h3>
        <h4 class="chats-list-item__last-message">
          {{ lastMessage.content }}
        </h4>
      </div>
      <div class="chats-list-item__content-column">
        <h6 class="chats-list-item__time">
          {{ lastMessage.time }}
        </h6>
        {{#if unreadCount}}
          <h5 class="chats-list-item__unread-message">
            {{ unreadCount }}
          </h5>
        {{/if}}
      </div>
    </div>
  </div>
</div>
