<div class="center-container">
    <form class="sign-up">
        <div class="sign-up__content">
            {{{signUpTitle}}}
            {{{emailInputField}}}
            {{{loginInputField}}}
            {{{firstNameInputField}}}
            {{{secondNameInputField}}}
            {{{phoneInputField}}}
            {{{passwordInputField}}}
            {{{repeatPasswordInputField}}}
        </div>
        <div class="sign-up__footer">
            {{{registerButton}}}
            {{{loginLink}}}
        </div>
    </form>
</div>
