<div class="chat-list">
  {{{modalWindow}}}
    <div class="chat-list__header">
        {{{profileLink}}}
        <div class="chat-list__search-container">
            {{{searchInput}}}
            <img src="../../assets/icons/Search.svg" class="chat-list__search-icon" alt="иконка">
        </div>
        {{{addChatButton}}}
    </div>
    <div class="chat-list__messages">
        {{{chatListItems}}}
    </div>
</div>
