<div class="modal-window {{#if className}} {{className}} {{/if}}">
    <div class="modal-window__container">
        <h2 class="modal-window__title">{{title}}</h2>
        {{{closeButton}}}
        {{{fileName}}}
        {{{content}}}
        {{{actionButton}}}
    </div>
</div>