<div class="chats">
    {{{chatList}}}
    <!--    <h3 class="chats-window__caption">-->
    <!--        Выберите чат, чтобы отправить сообщение-->
    <!--    </h3>-->
    <div class="chats-window">
        <div class="chats-window__header">
            <div class="chats-window__avatar-group">
                {{{avatar}}}
                <h3 class="chats-window__username">{{userName}}</h3>
            </div>
            {{{customUserButton}}}
        </div>
        <div class="chats-window__content">
            {{{chatMessages}}}
        </div>
        <div class="chats-window__footer">
            {{{uploadButton}}}
            {{{sendMessageInput}}}
            {{{sendMessageButton}}}
        </div>
    </div>
</div>
