<div class="chats-dialog">
  {{#if currentChat}}
    {{{chatsDialogHeader}}}
    <div class="chats-dialog__content">
      {{{chatMessages}}}
    </div>
    <div class="chats-dialog__footer">
      {{{uploadButton}}}
      {{{sendMessageInput}}}
      {{{sendMessageButton}}}
    </div>
  {{else}}
    <h3 class="chats-dialog__caption"> Выберите чат, чтобы отправить сообщение </h3>
  {{/if}}

</div>